html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #eed;
}

#maincontainer {
	border: 0px solid red;
	padding: 10px;
	display: flex;
	font-family: sans-serif;	
    height: calc(100vh - 20px);	
}

#adderContainer {
	flex: 1;
	min-width: 300px;
	box-sizing: border-box;	
	border: 1px solid blue;
	
	height: 100%;
	position: absolute;
	top: 0;
  	bottom: 0;
  	left: 0;
  	overflow-y: scroll;	
}

#inputContainer {
	flex: 1;
	min-width: 250px;
	height: 100%;
	border: 0px solid green;
}

#inputScreen {
	border: 2px solid lightgrey;
	border-radius: 10px;
	text-align: right;
	padding: 5px;
	font-family: Courier New;
	font-size: 30px;
	font-weight: bold;
	background-color: #9b9;
	min-height: 50px;

}

#keyPad {	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;	
	font-weight: 550;
	margin-top: 10px;
}

.keyNum {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid dimgray;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: lightgrey;
	cursor: pointer;
	min-height: 40px;

	display: flex;
  	justify-content: center;
  	align-content: center;
  	flex-direction: column;
}

.keyNum:active {    
    background-color: lightsteelblue;
}

.plusKey {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 4;
	grid-column-end: 4;
}

.enterKey {
	grid-row-start: 4;
	grid-row-end: 6;
	grid-column-start: 4;
	grid-column-end: 4;
}

.zeroKey {
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 3;	
}

#adderContainer {
	border: 1px solid gray;
	border-radius: 5px;
	margin-right: 10px;
	position: relative;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

/*
	position: absolute;
	bottom: 5;
	left: 10;
*/

#adderTotal {
	margin-top: auto;
	font-family: Courier New;
	font-size: 30px;
	font-weight: bold;
	background-color: #5e5;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	display: flex;
}


#totalTxt {	
	margin-left: auto;
}

#tableContainer {
	padding: 0px;
}

#tblAdder
{
	border-collapse: collapse;
	font-family: Courier New;
	font-size: 18px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}

#thNum {
	width: 50px;
	text-align: left;
}

#thAmount {
	text-align: center;
}

.tblRow{

}

.tblRow td, .tblRow th{
	border: 1px solid lightgrey;
	padding: 5px;
}

.tblRow th{
	background-color: #bcd;
}

.tdAmount {
	text-align: right;
}

.tblRow:nth-child(even) {
  background-color: #dedede;
}

.amtCell {
	text-align: right;
}